/* 清除浮动 */
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}

/* 多行溢出代码 */
.line-cut-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 单行溢出 */
.line-cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

/* 占据剩余空间 */
.flex1 {
  flex: 1;
  height: 0;
  width: 0;
}

.flexNone {
  flex: none;
}
